table, th, td {
    margin: 0 auto;
    border: 1px solid black;
    background-color: blue;
    color:thistle;
  }

  body{
    background-image: url(https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed; 
    /* background-size:100%; */
    background-size: cover;
    background-repeat: no-repeat; 
}
